*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.05);
  max-width: 960px;
  margin: 0 auto;
  padding-top: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  padding: 30px 0;
}
